
<button type="button" 
  class="btn btn-primary"
  (click)="showNew=!showNew;">New Page</button>

<new-page *ngIf="showNew" 
  (InsertPageDone)="hidePage($event)"></new-page>

<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Subject</th>
        <th scope="col">Published Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let page of pageList">
        <td>{{ page.id }}</td>
        <td>{{ page.doc.slug }}</td>
        <td>{{ page.doc.title }}</td>
        <td>{{ page.doc.subject }}</td>
        <td>{{ page.doc.publishedDate | date:'dd/MM/yyyy' }}</td>
      </tr>
    </tbody>
  </table>