
<button type="button" 
  class="btn btn-primary"
  (click)="goToNew()">New Page</button>



<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Subject</th>
        <th scope="col">Published Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let page of pageList">
        <td><a [routerLink]="['/pages', page.id]">{{ page.id }}</a></td>
        <td>{{ page.doc.slug }}</td>
        <td>{{ page.doc.title }}</td>
        <td>{{ page.doc.subject }}</td>
        <td>{{ page.doc.publishedDate | date:'dd/MM/yyyy' }}</td>
      </tr>
    </tbody>
  </table>